asgiref==3.2.10
cffi==1.14.2
Django==3.1
future==0.18.2
image==1.5.32
numpy==1.19.1
Pillow==7.2.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.2
six==1.15.0
SoundFile==0.10.3.post1
sqlparse==0.3.1
torch==1.6.0
transforms==0.1